@model HomeViewModel
@{
    Layout = "_Layout";
}

    <h1>Olá Fiap</h1>
    <h1>View Data @ViewData["aluno"]</h1>
    <h1>View Data @ViewData["tipo"]</h1>
    <h1>View Bag @ViewBag.tipo</h1>

    <h1>Model @Model.NomeAluno</h1>
    <h1>Model @Model.CategoriaProduto</h1>
